* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a :visited {
    color: #fff;
}

header {
    background-color: rgb(130, 69, 148);
    padding:1rem
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    font-size: 2rem;
    color: whitesmoke;
}

.nav-list :hover{
    transition: ease-in-out 0.1s;
    border-bottom: 5px solid white;
    font-size: 2rem;
    color: rgb(209, 158, 158);
    
}

.index-main {
    position:relative;
    height: 80vh;
}

.index-main img {
    width: 35rem;
    height: 35rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid salmon;
    border-radius: 12px
}

.index-main img:hover {
    cursor: pointer;
    border: 3px solid rgba(145, 51, 40, 0.993);
    transition: ease-in-out 0.3s;
}



.index-main h2 {
    position:absolute;
    width: 35rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0.5rem;
    background-color: salmon;
    color: white;
    border-radius:12px;
    text-align: center;
    border: 3px solid rgb(240, 169, 169);
}

.index-main h2:hover {
    cursor: pointer;
    color: rgb(231, 218, 218);
    /* font-size: 1.6rem; */
    border: 3px solid rgba(145, 51, 40, 0.993);
    /* padding: 0.25rem; */
    transition: ease-in-out 0.3s;

}

.index-main h2 a {
    text-decoration: none;
    color: white

}
.index-main img :hover {
    cursor: pointer;
}

footer {
    height: 10vh;
    background-color:rgb(130, 69, 148);
}

footer p {
    color: white;
    position: relative;
    font-size:2rem;
    top: 25%;
    text-align: center;
    
}
.recipes-main {
    position:relative;
    height: 80%;
}

.recipes-main h2{
    text-align: center;
    margin: 1rem;
    font-size: 5rem;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}
.recipe {
    display: flex;
    background-color: rgba(241, 175, 167, 0.473);
    margin: 1rem;
    border-radius:12px;
    padding: 1rem;
    position: relative;
    min-height: 20rem;
}

.recipe img {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    margin-right:2rem;
    left:5%;
    top: 5%;;
}
.recipe-name {
    font-size: 2.5rem;
    width: 20%;
    bottom: 5%;
    right: 0%;
    position: absolute;
    color: rgb(148, 75, 67);
}

.recipe-description{
    /* margin: 1rem; */
    font-size: 2.0em;
    margin-left: 35vh;
}


 .recipe-detailed {
    display: none;
    margin: 2rem;
    font-size: 2.0em;
    margin-left: 35vh;
    
    
}
  
.hidden {
    display: none !important;
}
.shown {
    display: block !important;
    /* border: 3px solid rgba(145, 51, 40, 0.993); */
}

main {
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

textarea {
    height: 50vh;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #fcba03;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover:not([disabled]) {
    background-color: #03fb18;
}

.highlight_recipe {
    border: 3px solid rgba(145, 51, 40, 0.993);
    background-color: rgba(233, 169, 162, 0.993); ;
}